
<div class="container">
    <form (ngSubmit)="addNewPortfolio($event)">
        <input type="text" [(ngModel)]="title" name="title" placeholder="Title">
        <input type="text" [(ngModel)]="type" name="type" placeholder="Project Type">
        <textarea [(ngModel)]="info" name="info" placeholder="Add Small Content Here"></textarea>

        <textarea [(ngModel)]="markdown" name="markdown" (keyup)="updateOutput($event.target.value)" placeholder="Add Markdown Here"></textarea>

        <div [innerHTML]="mdOutput"></div>

        <div class="fileupload">
            <div class="thumbnail">
                <label for="thumbnail" class="uplabel">Thumbnail</label>
                <input (change)="onThumbnail($event)" class="upbtn" id="thumbnail" type="file" name="image" placeholder="Thumbnail">
            </div>

            <div class="desktopImage">
                <label for="desktopImage" class="uplabel">full Site Image</label>
                <input (change)="onDesktopImage($event)" class="upbtn" id="desktopImage" type="file" name="image">
            </div>
        </div>

        <button type="submit" class="button">Submit</button>
    </form>
</div>
<div class="submitdata" [ngStyle]="{'display': uploading}">
    <div class="uploading">
        <div class="cp-spinner cp-flip"></div>
        <div>UpLoading...</div>
    </div>
</div>