@import ../../var.sass

\:host
    overflow-x: hidden
    overflow-y: scroll
    height: 100vh
    position: relative
    display: block
    background: #f4f6fb
    box-shadow: -20px 0px 20px 0px rgba(213, 213, 228, 0.3411764705882353), -1px 0px 0px 0px rgba(0, 0, 0, 0.03137254901960784)

.bar
    position: sticky
    top: 0
    left: 0
    right: 0
    z-index: 6
    background: $secondary
    color: #fff
    font-size: 12px
    display: flex
    justify-content: space-around

