<kg-head title="Admin">
  <div class="page">

    <div class="userInfoBar">

      <kg-card *ngIf="auth">
        <div class="user">
          <div class="user-img">
            <img src="{{auth.providerData[0].photoURL}}" alt="{{auth.providerData[0].providerId}}">
          </div>
          <div class="user-infor">
            <h4>{{auth.providerData[0].displayName}}</h4>
            <h6>{{auth.providerData[0].email}}</h6>
          </div>
        </div>
      </kg-card>

      <div class="deskill" *ngIf="authEmail">
        <kg-card *ngIf="description">
          <div class="description">
            <p (click)="editDescription()" [ngClass]="toggleDesp">{{description.description}}</p>
            <textarea class="hide" [ngClass]="toggleDes" (keyup)="editDescriptionInfo($event.target.value)" (blur)="doneEditDescription()" [value]="description.description"></textarea>
          </div>
        </kg-card>

        <kg-card *ngIf="skills">
          <div class="skills">
            <div *ngFor="let skill of skills" class="skill-item" (click)="openASkill(skill.$key, $event)">
              <span>{{skill.title}}</span>
              <span>{{skill.level}}</span>
            </div>
          </div>
        </kg-card>

      </div>

    </div>

    <div *ngIf="authEmail">
      <div class="post" *ngIf="portfolios">
        <kg-card *ngFor="let portfolio of portfolios" class="post-item">
          <div (click)="goToPortfolio(portfolio.$key)">
            <kg-card-content [title]="portfolio.title" [info]="portfolio.info"></kg-card-content>
            <kg-card-infor [postDate]="portfolio.timestamp"></kg-card-infor>
          </div>
          <div class="button-group items">
            <kg-btn type="botton" icon="edit" class="btn hidetext">Edit</kg-btn>
            <kg-btn typr="botton" icon="delete" class="btn delete hidetext" (btnClick)="removePortfolio(portfolio.$key)">Remove</kg-btn>
          </div>
        </kg-card>
      </div>
    </div>

  </div>
</kg-head>
<kg-footer></kg-footer>

<kg-dialog [isVisible]="toggledialog" title="Are You Sure you What To Permanently Delete" btn1text="Yes" btn2text="Cancel" btn1icon="done" btn2icon="cancel" color="delete" (btn1action)="deletePortfolio()" (btn2action)="toggledialog = ''">
  <strong>{{itemToBeRemoveTitle}}</strong>
</kg-dialog>


<!--<div class="dialogbox hide" [ngClass]="toggledialog">
  <div class="removieItem">
    <kg-card class="dialog">
      <p *ngIf="itemToBeRemoveTitle">Are You Sure you What To Permanently Delete <strong>{{itemToBeRemoveTitle}}</strong></p>
      <div class="button-group">
        <kg-btn typr="botton" icon="done" class="btn delete" (btnClick)="deletePortfolio()">Yes</kg-btn>
        <kg-btn type="botton" icon="cancel" class="btn" (btnClick)="toggledialog = ''; show()">Cancel</kg-btn>
      </div>
    </kg-card>
  </div>
</div>-->

<kg-dialog [isVisible]="toggledialogSkill" title="Edit Skill" btn1text="save" btn2text="Cancel" btn1icon="save" btn2icon="cancel" color="accent-one" (btn1action)="updateSkill()" (btn2action)="toggledialogSkill = ''">
  <div class="skpopup" *ngIf="getskillId">
    <div class="input-contain title">
      <span class="material-icons icon">chat</span>
      <input class="input" type="text" name="title" (keyup)="updateSkillTitle($event.target.value)" value="{{getskillId.title}}">
    </div>
    <div class="input-contain level">
      <span class="material-icons icon">poll</span>
      <input class="input" type="text" name="level" (keyup)="updateSkillLevel($event.target.value)" value="{{getskillId.level}}">
    </div>
  </div>
</kg-dialog>






<!--<div class="hide" [ngClass]="toggledialogSkill">
  <div class="removieItem">
    <kg-card class="dialog">
      <div class="skpopup" *ngIf="getskillId">
        <input type="text" name="title" (keyup)="updateSkillTitle($event.target.value)" value="{{getskillId.title}}" class="inpsk input-skill" placeholder="Skill">
        <input type="text" name="level" (keyup)="updateSkillLevel($event.target.value)" value="{{getskillId.level}}" class="inpsk input-level" placeholder="Level">
      </div>
      <div class="button-group">
        <kg-btn typr="submit" icon="save" class="btn accent-one" (btnClick)="updateSkill()">save</kg-btn>
        <kg-btn type="botton" icon="cancel" class="btn" (btnClick)="toggledialogSkill = ''; show()">Cancel</kg-btn>
      </div>
    </kg-card>
  </div>
</div>-->
