<div class="skills" *ngIf="skills; else noSkills">
    <div class="skill" *ngFor="let skill of skills">
        <h5 class="skilltitle" [@moveIn]="">{{skill.title}} <span class="title__level" [@fallIn]="">{{skill.level}}</span></h5>
        <div class="skillbar" [@moveInLeft]="">
            <span class="skillbar__level" [ngStyle]="{'width': skill.level+'%'}"></span>
        </div>
    </div>
</div>

<ng-template #noSkills>
    <div class="skills">
        <div class="skill disabled" *ngFor="let disabled of [1,2,3,4,5,6,7,8]">
            <h5 class="skilltitle">Skill Title Here<span class="title__level">80%</span></h5>
            <div class="skillbar">
                <span class="skillbar__level"></span>
            </div>
        </div>
    </div>
</ng-template>