\:host
  background-color: green
  width: 100%
  overflow: hidden

  .wave
    visibility: hidden
    transition: var(--transition)

  section
    display: flex
    place-content: center
    background-color: var(--primary-color)

  h1
    font-size: 1.5em
    margin: 4em 0
    padding: 0 1em
    text-align: center
    line-height: 1.5
    color: var(--light-text-color)
    transition: var(--transition)

@media screen and ( min-width:  600px )
  \:host
    h1
      font-size: 3em

@media screen and ( min-width:  960px )
  \:host
    h1
      font-size: 3.5em
      margin: 3em 0 1.5em

    .wave
      background: url('../../../assets/wave.svg') repeat-x
      width: 6400px
      height: 198px
      backface-visibility: hidden
      will-change: transform
      visibility: visible
      overflow: hidden
      animation: animation-ifxqja 12s linear infinite

@keyframes animation-ifxqja
  to
    -webkit-transform: translateX(-50%)
    -moz-transform: translateX(-50%)
    -ms-transform: translateX(-50%)
    transform: translateX(-50%)
