img
    height: 150px
    box-shadow: 0 18px 35px rgba(50,50,93,.1), 0 8px 15px rgba(0,0,0,.07)
    border-radius: 10px
    margin: -20px auto 0
    position: relative
    width: 90%
    display: block

