<kg-avatar image="/assets/svg/avatar.svg" name="avatar"></kg-avatar>

<kg-description [description]="description | async"></kg-description>

<kg-social-icons></kg-social-icons>

<div class="skills">
   <kg-skills *ngFor="let skill of skills | async" [skill]="skill"></kg-skills> 
</div>

<h2 class="header" *ngIf="portfolios | async">Portfolio</h2>

<div class="portfolios" *ngIf="portfolios | async">
  <kg-card *ngFor="let portfolio of portfolios | async | reverse" (click)="openPortfolio(portfolio.$key)">
    <kg-card-image [image]="portfolio.thumbnail.url" [base64]="portfolio.thumbnail.base64"></kg-card-image>
    <kg-card-content [title]="portfolio.title" [info]="portfolio.description"></kg-card-content>
    <kg-card-infor [postDate]="portfolio.timestamp"></kg-card-infor>
  </kg-card>
</div>

<div class="allportfolios" *ngIf="portfolios | async">
  <kg-btn type="button" icon="view_module" (btnClick)="openPortfolios()">View More</kg-btn>
</div>

<h2 class="header">Get in touch</h2>

<div class="contact">
  <form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
    <div class="input-contain">
      <span class="material-icons icon">account_circle</span>
      <input class="input" type="text" name="name" placeholder="Your Name" [formControl]="complexForm.controls['name']" required>
    </div>
    <div class="input-contain">
      <span class="material-icons icon">email</span>
      <input class="input" type="email" name="email" placeholder="Your Email" [formControl]="complexForm.controls['email']" required>
    </div>
    <div class="input-contain">
      <span class="material-icons icon">message</span>
      <textarea class="input" name="message" placeholder="Your Message" [formControl]="complexForm.controls['message']" required></textarea>
    </div>
    <div class="submit">
      <kg-btn type="submit" icon="send" class="icon-right" [disabled]="!complexForm.valid">Send Message</kg-btn>
    </div>
  </form>
</div>
