@import ../../var.sass

\:host
    display: block
    max-width: 700px
    margin: 0 auto

.item
    width: 97%
    font-size: 14px
    padding: 13px 0 13px 10px
    border: none
    color: inherit
    vertical-align: top
    outline: none

.formitem
    width: 100%
    margin: 10px 0
    background: #ffffff
    transition: transform .3s ease-in-out, box-shadow .3s ease-in-out
    transform: translateY(0px)
    box-shadow: 0 0 25px rgba(40,47,60,.05), 0 20px 25px rgba(40,47,60,.05), 0 3px 4px rgba(40,47,60,.05), 0px 0px 1px 0px rgba(0,0,0,.2)

.icon
    margin-top: 9px
    margin-left: 9px

svg
    width: 24px
    fill: $secondary


textarea
    resize: none
    min-height: 250px

.isfocus
    transform: translateY(-5px)
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.21), 0 15px 12px transparent, 0px 0px 1px 0px rgba(0,0,0,.2)

.btn
    margin-top: 20px