<form
    fxLayout="column"
    fxLayoutAlign="space-between center"
    fxLayoutWrap
    [formGroup]="emailForm"
    novalidate
    (ngSubmit)="onSubmit()">

  <div 
    fxLayout="row" 
    fxLayoutAlign="space-between center" 
    class="formitem" [ngClass]="inputClass1">

    <div class="icon">
      <i class="material-icons">person_pin</i>
    </div>

    <div fxFlex="95">
      <input 
        type="text"  
        class="item" 
        placeholder="Your Name" 
        formControlName="userName"  
        (focus)="inputClass1 = 'isfocus'" (blur)="inputClass1 = ''">
    </div>

  </div>


  <div 
    fxLayout="row" 
    fxLayoutAlign="space-between center" 
    class="formitem" [ngClass]="inputClass4">
  
    <div class="icon">
      <i class="material-icons">assignment</i>
    </div>
  
    <div fxFlex="95">
      <input 
        type="text" 
        class="item" 
        placeholder="Subject" 
        formControlName="userSubject" 
        (focus)="inputClass4 = 'isfocus'" (blur)="inputClass4 = ''">
    </div>
  
  </div>


  <div 
    fxLayout="row" 
    fxLayoutAlign="space-between center" 
    class="formitem" [ngClass]="inputClass2">
  
    <div class="icon">
      <i class="material-icons">email</i>
    </div>
  
    <div fxFlex="95">
      <input 
        class="item" 
        type="email"  
        placeholder="Your Email" 
        formControlName="userEmail" 
        (focus)="inputClass2 = 'isfocus'" (blur)="inputClass2 = ''">
    </div>
  
  </div>


  <div 
    fxLayout="row" 
    fxLayoutAlign="space-between center" 
    class="formitem" [ngClass]="inputClass3">
  
    <div class="icon">
      <i class="material-icons">chat</i>
    </div>
  
    <div fxFlex="95">
      <textarea 
        class="item" 
        placeholder="Your Massage" 
        formControlName="userMessage" 
        (keyup)="textToMarkDown($event.target.value)" 
        (focus)="inputClass3 = 'isfocus'" (blur)="inputClass3 = ''"></textarea>
    </div>
  
  </div>


  <div>
   
    <button 
      class="btn secondary" 
      [ngClass]="{ 'disable':!loading }" 
      type="submit" [disabled]="!emailForm.valid">

      <div class="btnicon">
        <i class="material-icons">send</i>
      </div>

      <div class="btntext">
         Send Message
      </div>
      
    </button>

  </div>

</form>