<kg-header-bar>
  <kg-btn type="button" icon="arrow_back" class="icon-only flat"></kg-btn>
  <div class="input-contain">
    <span class="material-icons icon">search</span>
    <input class="input" type="search" name="search" placeholder="Seach Portfolios" (keyup)="searchPortfolios($event.target.value)" (focus)="seachFocus()" (blur)="seachBlur()">
  </div>
  <kg-btn type="button" icon="menu" class="icon-only flat" (btnClick)="toggleMenu()"></kg-btn>
</kg-header-bar>
<kg-menubar [ngClass]="toggleMenuClass"></kg-menubar>
<kg-ribban [ngClass]="inputFocusRibban">
  <kg-title>{{title}}</kg-title>
</kg-ribban>
<div class="page" [ngClass]="inputFocusPort">
  <div class="container">
  <ng-content></ng-content>
  </div>
</div>
