<div *ngIf="portfolios; else noPortfolios">
<kg-head (searchValue)="searchValue($event)" (clearSearch)="clearSearch()" title="{{pageTitle}}">

  <div class="card-container" *ngIf="searchTitle?.length === null || searchInfo?.length === null || searchMarkdown?.length === null">
    <kg-card *ngFor="let portfolio of portfolios" (click)="openPortfolio(portfolio.$key)">
      <kg-card-image [image]="portfolio.thumbnailPath" [base64]="portfolio.thumbnailBase64"></kg-card-image>
      <kg-card-content [title]="portfolio.title" [info]="portfolio.info"></kg-card-content>
      <kg-card-infor [postDate]="portfolio.timestamp"></kg-card-infor>
    </kg-card>
  </div>

  <div class="seacrhView">

    <div class="titlesearch seacrhOutput" *ngIf="searchTitle?.length > 0"> 
      <h6 class="seach-title">By Title</h6>
      <div class="card-container search">
        <kg-card *ngFor="let title of searchTitle" (click)="openPortfolio(title.$key)">
          <kg-card-content [title]="title.title" [info]="title.info"></kg-card-content>
          <kg-card-infor [postDate]="title.timestamp"></kg-card-infor>
        </kg-card>
      </div>
    </div>
  
    <div class="infoSearch seacrhOutput" *ngIf="searchInfo?.length > 0"> 
      <h6 class="seach-title">By Summary</h6>
      <div class="card-container search">
        <kg-card *ngFor="let info of searchInfo" (click)="openPortfolio(info.$key)">
          <kg-card-content [title]="info.title" [info]="info.info"></kg-card-content>
          <kg-card-infor [postDate]="info.timestamp"></kg-card-infor>
        </kg-card>
      </div>
    </div>

    <div class="markdownSearch seacrhOutput" *ngIf="searchMarkdown?.length > 0"> 
      <h6 class="seach-title">By Content</h6>
      <div class="card-container search">
        <kg-card *ngFor="let markdown of searchMarkdown" (click)="openPortfolio(markdown.$key)">
          <kg-card-content [title]="markdown.title" [info]="markdown.info"></kg-card-content>
          <kg-card-infor [postDate]="markdown.timestamp"></kg-card-infor>
        </kg-card>
      </div>
    </div>

  </div>

</kg-head>
<kg-footer></kg-footer>
</div>

<ng-template #noPortfolios>
  <kg-head class="loading-head" loading="true" title="Loading">
  <div class="card-container">
    <kg-card class="loading" *ngFor="let loading of [1,2,3,4,5]">
      <kg-card-image></kg-card-image>
      <kg-card-content></kg-card-content>
      <kg-card-infor></kg-card-infor>
    </kg-card>
  </div>
</kg-head>
<kg-footer></kg-footer>
</ng-template> 
