@import ../../../config/sass/var

.card-container
  display: flex
  flex-wrap: wrap
  justify-content: center
  margin-bottom: 70px

@media (min-width: 0px) and (max-width: $rw-mobile)
  kg-card
    width: 100%

@media (min-width: $rw-mobile) and (max-width: $rw-tablet)
  kg-card
    width: 230px

@media only screen and (min-width: $rw-tablet)
  kg-card
    width: 230px
