<div class="item">
    <a target="_blank" class="icon" rel="noopener" href="https://www.facebook.com/kerron.gordon" tabindex="0">
        <span class="name">facebook</span>
        <app-facebook-icon class="icon-svg"></app-facebook-icon>
    </a>
</div>
<div class="item">
    <a target="_blank" class="icon" rel="noopener" href="https://twitter.com/kerrongordon" tabindex="0">
        <span class="name">twitter</span>
        <app-twitter-icon class="icon-svg"></app-twitter-icon>
    </a>
</div>
<div class="item">
    <a target="_blank" class="icon" rel="noopener" href="https://www.linkedin.com/in/kerrongordon" tabindex="0">
        <span class="name">linkedin</span>
        <app-linkedin-icon class="icon-svg"></app-linkedin-icon>
    </a>
</div>
<div class="item">
    <a target="_blank" class="icon" rel="noopener" href="https://github.com/kerrongordon" tabindex="0">
        <span class="name">github</span>
        <app-github-icon class="icon-svg"></app-github-icon>
    </a>
</div>
<div class="item">
    <a target="_blank" class="icon" rel="noopener" href="https://www.instagram.com/gordonkerron" tabindex="0">
        <span class="name">instagram</span>
        <app-instagram-icon class="icon-svg"></app-instagram-icon>
    </a>
</div>