<div class="contain" *ngIf="data; else noData">
    <div class="title">
        <span class="main-title" [@moveInLeft]="">{{data.title}}</span>
        <span class="sub-title" [@moveInLeft]="">{{data.type}}</span>
    </div>
</div>

<ng-template #noData>
    <div class="contain loading">
        <div class="title">
            <span class="main-title" [@moveInLeft]="">Loading Title</span>
            <span class="sub-title" [@moveInLeft]="">Sub title</span>
        </div>
    </div>
</ng-template>