<div class="headbarbg" [ngClass]="isHeaderBerFixed">
    <div class="headbar">
        <div class="container">
            <div class="bar">
                <div class="backbutton">
                    <kg-btn type="button" icon="arrow_back" class="icon-only flat" (btnClick)="goBack()"></kg-btn>
                </div>
                <div class="searchbar">
                    <input *ngIf="portfolios; else noPortfolios" id="search" type="search" name="" placeholder="Search Portfolios" (keyup)="searchPortfolios($event.target.value)" (blur)="searchFocus($event)" (focus)="searchFocus($event)">
                    <div class="searchbarOutput" for="search" [ngStyle]="{'width': searchBoxWidth + 'px'}">
                        <h4 *ngIf="searchTitle?.length > 0">By Title</h4>
                        <li *ngFor="let title of searchTitle">
                            <a href="javascript:void(0)" (click)="openPortfolio(title.$key)">{{title.title}}</a>
                        </li>
                        <h4 *ngIf="searchInfo?.length > 0">By Summary</h4>
                        <li *ngFor="let info of searchInfo">
                            <a href="javascript:void(0)" (click)="openPortfolio(info.$key)">{{info.info}}</a>
                        </li>
                        <h4 *ngIf="searchMarkdown?.length > 0">By Content</h4>
                        <li *ngFor="let markdown of searchMarkdown">
                            <a href="javascript:void(0)" (click)="openPortfolio(markdown.$key)">{{markdown.title}}</a>
                        </li>
                    </div>
                    <ng-template #noPortfolios>
                        <input id="search" type="search" name="" placeholder="Loading..." (blur)="searchFocus()" (focus)="searchFocus()">
                    </ng-template>
                </div>
                <div class="login" *ngIf="!auth">
                    <kg-btn type="button" icon="input" class="icon-only flat" (btnClick)="login()"></kg-btn>
                </div>
                <div class="logout" *ngIf="auth">
                    <kg-btn type="button" icon="verified_user" class="icon-only flat" (btnClick)="logout()"></kg-btn>
                </div>
            </div>
        </div>
    </div>
    <div class="rebbon" [ngClass]="inputFocus">
        <div class="container movedown">
            <div class="menubar">
                <div class="btn-home menubtn">
                    <kg-btn type="button" icon="home" class="icon-only flat" (btnClick)="goHome()"></kg-btn>
                </div>
                <div class="btn-portfolios menubtn">
                    <kg-btn type="button" icon="list" class="icon-only flat" (btnClick)="goPortfolios()"></kg-btn>
                </div>
                <div class="btn-admin menubtn">
                    <kg-btn type="button" icon="dashboard" class="icon-only flat" (btnClick)="goAdmin()"></kg-btn>
                </div>
            </div>
            <div class="btn-addportfolio">
                <kg-btn type="button" icon="add" class="iocn-only floating accent-two" (btnClick)="goToAddNewPortfolio()"></kg-btn>
            </div>
        </div>
    </div>
</div>
<div class="clearspace" [ngClass]="inputFocus2"></div>