<div class="headbar">
    <div class="container">
        <div class="bar">
            <div class="backbutton">
                <button type="button" (click)="goBack()"><svg viewBox="0 0 24 24"><path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z" /></svg></button>
            </div>
            <div class="searchbar">
                <input type="search" name="" placeholder="Search Portfolios">
            </div>
            <div class="login" *ngIf="!auth">
                <button type="button" (click)="login()"><svg viewBox="0 0 24 24"><path d="M10,17.25V14H3V10H10V6.75L15.25,12L10,17.25M8,2H17A2,2 0 0,1 19,4V20A2,2 0 0,1 17,22H8A2,2 0 0,1 6,20V16H8V20H17V4H8V8H6V4A2,2 0 0,1 8,2Z" /></svg></button>
            </div>
            <div class="logout" *ngIf="auth">
                <button type="button" (click)="logout()"><svg viewBox="0 0 24 24"><path d="M17,17.25V14H10V10H17V6.75L22.25,12L17,17.25M13,2A2,2 0 0,1 15,4V8H13V4H4V20H13V16H15V20A2,2 0 0,1 13,22H4A2,2 0 0,1 2,20V4A2,2 0 0,1 4,2H13Z" /></svg></button>
            </div>
            <!--<div class="addportfolio" *ngIf="auth">
                <button type="button" (click)="goToAddNewPortfolio()"><svg viewBox="0 0 24 24"><path d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" /></svg></button>
            </div>-->
        </div>
    </div>
</div>
<div class="rebbon">
    <div class="container movedown">
        <div class="menubar">
            <div class="btn-home menubtn"><button type="button" (click)="goHome()">Home</button></div>
            <div class="btn-portfolios menubtn"><button type="button" (click)="goPortfolios()">Portfolios</button></div>
            <div class="btn-admin menubtn"><button type="button" (click)="goAdmin()">Admin</button></div>
        </div>
        <div class="btn-addportfolio"><button type="button" (click)="goToAddNewPortfolio()"><svg viewBox="0 0 24 24"><path d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" /></svg></button></div>
    </div>
</div>