<div class="headbarbg" [ngClass]="isHeaderBerFixed">
    <div class="headbar">
        <div class="container">
            <div class="bar">
                <div class="backbutton">
                    <button type="button" (click)="goBack()"><svg viewBox="0 0 24 24"><path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z" /></svg></button>
                </div>
                <div class="searchbar">
                    <input id="search" type="search" name="" placeholder="Search Portfolios" (keyup)="searchPortfolios($event.target.value)" (blur)="searchFocus()" (focus)="searchFocus()">
                    <div class="searchbarOutput" for="search" [ngStyle]="{'width': searchBoxWidth + 'px'}">
                        <h4 *ngIf="searchTitle?.length > 0">By Title</h4>
                        <li *ngFor="let title of searchTitle">
                            <a href="javascript:void(0)" (click)="openPortfolio(title.$key)">{{title.title}}</a>
                        </li>
                        <h4 *ngIf="searchInfo?.length > 0">By Summary</h4>
                        <li *ngFor="let info of searchInfo">
                            <a href="javascript:void(0)" (click)="openPortfolio(info.$key)">{{info.info}}</a>
                        </li>
                        <h4 *ngIf="searchMarkdown?.length > 0">By Content</h4>
                        <li *ngFor="let markdown of searchMarkdown">
                            <a href="javascript:void(0)" (click)="openPortfolio(markdown.$key)">{{markdown.title}}</a>
                        </li>
                    </div>
                </div>
                <div class="login" *ngIf="!auth">
                    <button type="button" (click)="login()"><svg viewBox="0 0 24 24"><path d="M10,17.25V14H3V10H10V6.75L15.25,12L10,17.25M8,2H17A2,2 0 0,1 19,4V20A2,2 0 0,1 17,22H8A2,2 0 0,1 6,20V16H8V20H17V4H8V8H6V4A2,2 0 0,1 8,2Z" /></svg></button>
                </div>
                <div class="logout" *ngIf="auth">
                    <button type="button" (click)="logout()"><svg viewBox="0 0 24 24"><path d="M17,17.25V14H10V10H17V6.75L22.25,12L17,17.25M13,2A2,2 0 0,1 15,4V8H13V4H4V20H13V16H15V20A2,2 0 0,1 13,22H4A2,2 0 0,1 2,20V4A2,2 0 0,1 4,2H13Z" /></svg></button>
                </div>
            </div>
        </div>
    </div>
    <div class="rebbon" [ngClass]="inputFocus">
        <div class="container movedown">
            <div class="menubar">
                <div class="btn-home menubtn"><button type="button" (click)="goHome()"><svg viewBox="0 0 24 24"><path d="M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z" /></svg><span>Home</span></button></div>
                <div class="btn-portfolios menubtn"><button type="button" (click)="goPortfolios()"><svg viewBox="0 0 24 24"><path d="M16,20H20V16H16M16,14H20V10H16M10,8H14V4H10M16,8H20V4H16M10,14H14V10H10M4,14H8V10H4M4,20H8V16H4M10,20H14V16H10M4,8H8V4H4V8Z" /></svg><span>Portfolios</span></button></div>
                <div class="btn-admin menubtn"><button type="button" (click)="goAdmin()"><svg viewBox="0 0 24 24"><path d="M16,11.78L20.24,4.45L21.97,5.45L16.74,14.5L10.23,10.75L5.46,19H22V21H2V3H4V17.54L9.5,8L16,11.78Z" /></svg><span>Admin</span></button></div>
            </div>
            <div class="btn-addportfolio"><button type="button" (click)="goToAddNewPortfolio()"><svg viewBox="0 0 24 24"><path d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" /></svg></button></div>
        </div>
    </div>
</div>
<div class="clearspace" [ngClass]="inputFocus2"></div>