<div *ngIf="portfolio">
<kg-head title="{{portfolio.title}}">
    <div class="container">
        <div class="card portfolio-details">
            <div class="content">
                <div class="block overview">
                    <h3>{{portfolio.title}}</h3>
                    <p>{{portfolio.info}}</p>
                </div>
                <div class="block features">
                    <div [innerHTML]="mdOutput"></div>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="{{portfolio.imagePath}}" alt="thumnail">
        </div>
    </div>
</kg-head>
</div>
<!--<kg-footer></kg-footer>-->