<div class="loginform">

  <div class="userIcon">
    <svg viewBox="0 0 24 24">
      <path fill="currentColor" d="M12,19.2C9.5,19.2 7.29,17.92 6,16C6.03,14 10,12.9 12,12.9C14,12.9 17.97,14 18,16C16.71,17.92 14.5,19.2 12,19.2M12,5A3,3 0 0,1 15,8A3,3 0 0,1 12,11A3,3 0 0,1 9,8A3,3 0 0,1 12,5M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12C22,6.47 17.5,2 12,2Z"/>
    </svg>
  </div>

  <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">

    <div class="item">
      <input type="email" name="email" id="email" placeholder="Email" formControlName="loginEmail">
    </div>

    <div class="item">
      <input type="password" name="password" id="password" placeholder="Password" formControlName="loginPassword">
    </div>
    
    <div class="item item-btn">
      <button type="submit" class="btn primary">
        <div class="btnicon">
          <svg viewBox="0 0 24 24">
            <path fill="currentColor" d="M19,3H5C3.89,3 3,3.89 3,5V9H5V5H19V19H5V15H3V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3M10.08,15.58L11.5,17L16.5,12L11.5,7L10.08,8.41L12.67,11H3V13H12.67L10.08,15.58Z"/>
          </svg>
        </div>
        <div>Login</div>
      </button>

      <button type="button" class="btn secondary" routerLink="''">
        <div class="btnicon">
          <svg viewBox="0 0 24 24">
            <path fill="currentColor" d="M12,2C17.53,2 22,6.47 22,12C22,17.53 17.53,22 12,22C6.47,22 2,17.53 2,12C2,6.47 6.47,2 12,2M15.59,7L12,10.59L8.41,7L7,8.41L10.59,12L7,15.59L8.41,17L12,13.41L15.59,17L17,15.59L13.41,12L17,8.41L15.59,7Z"/>
          </svg>
        </div>
        <div>Cancel</div>
      </button>
    </div>

  </form>
</div>

<kgp-footer [ngStyle]="{'background-color': '#ecf1f6'}"></kgp-footer>