<div class="loginform">

  <div class="userIcon">
    <i class="material-icons big">person_pin</i>
  </div>

  <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">

    <div class="item">
      <input type="email" name="email" id="email" placeholder="Email" formControlName="loginEmail">
    </div>

    <div class="item">
      <input type="password" name="password" id="password" placeholder="Password" formControlName="loginPassword">
    </div>
    
    <div class="item item-btn">
      <button type="submit" class="btn primary">
        <div class="btnicon">
          <i class="material-icons">input</i>
        </div>
        <div>Login</div>
      </button>

      <button type="button" class="btn secondary" routerLink="''">
        <div class="btnicon">
          <i class="material-icons">cancel</i>
        </div>
        <div>Cancel</div>
      </button>
    </div>

  </form>
</div>

<kgp-footer [ngStyle]="{'background-color': '#ecf1f6'}"></kgp-footer>