<router-outlet></router-outlet>

<!--<h1>test</h1>
<h2>test</h2>
<h3>test</h3>
<h4>test</h4>
<h5>test</h5>
<h6>test</h6>

<kg-btn type="button" icon="check_circle" class="icon-right" (btnClick)="iamclick($event)">Click Me</kg-btn>
<kg-btn type="button" icon="check_circle" class="flat" (btnClick)="iamclick($event)">Click Me</kg-btn>
<kg-btn type="button" icon="check_circle" class="icon-only" (btnClick)="iamclick($event)"></kg-btn>
<kg-btn type="button" icon="check_circle" class="icon-only flat" (btnClick)="iamclick($event)"></kg-btn>
<kg-btn type="button" icon="check_circle" class="" disabled="true" (btnClick)="iamclick($event)">Click Me</kg-btn>
<kg-btn type="button" icon="open_with" class="floating" (btnClick)="iamclick($event)"></kg-btn>-->