<div *ngIf="portfolio">
  <kg-head title="{{portfolio.title}}">
    <div class="maxw">
      <kg-card class="portcontent">
        <p>{{portfolio.info}}</p>
        <div class="block features">
          <div class="markdown-output" [innerHTML]="mdOutput"></div>
        </div>
      </kg-card>
      <kg-card class="desktop-image" [ngClass]="tpggleThum">
        <img class="img" src="{{portfolio.desktopBase64}}" alt="Portfolios Images">
      </kg-card>
      <kg-card class="desktop-image" [ngClass]="tpggleImge">
        <img class="img" src="{{portfolio.imagePath}}" alt="Portfolios Images" (load)="ImageLoadedd()" (error)="LoadDefault()">
      </kg-card>
    </div>
  </kg-head>
  <kg-footer></kg-footer>
</div>
