<div *ngIf="portfolio; else noPortfolio">
  {{ _title.setTitle(portfolio.title) }}
    <div class="maxw">
      <kg-card class="markdown-output nohover">
        <div class="portcontent">
          <div class="features">
            <p>{{portfolio.description}}</p>
          </div>
          <div class="markdown-output" [innerHTML]="mdOutput"></div>
        </div>
        <kg-card-infor [postDate]="portfolio.timestamp"></kg-card-infor>
        <kg-btn *ngIf="isAuth" type="botton" icon="edit" class="btn hidetext" (btnClick)="editPortfolio(portfolio.$key)">Edit</kg-btn>
      </kg-card>
      <kg-card class="nohover">
        <kg-card-image class="fullIamge" [base64]="portfolio.largImage.base64" [image]="portfolio.largImage.url"></kg-card-image>
      </kg-card>
    </div>

    <kg-share [link]="portfolio.url" [title]="portfolio.title"></kg-share>
</div>

<ng-template #noPortfolio>
  <div class="load">
    <div class="cp-spinner cp-flip"></div>
  </div>
</ng-template> 


