@import ../../../config/sass/var


kg-card
  margin-bottom: 30px
  cursor: auto

.desktop-image
  img
    width: 100%

.maxw
  max-width: 1000px
  margin: 0 auto

.img
  width: 100%
  height: 100%

.hideImage
  display: none
  opacity: 0

.features
  border-bottom: solid 1px #eeeeee
  margin-bottom: 20px
  padding-bottom: 16px

.showImage
  animation: fade 1s ease-in-out

@keyframes fade
  0%
    opacity: 0
  100%
    opacity: 1

.portcontent
  transition: $transition

.user
  background: $accent-two
  display: flex
  color: #fff

.userPhoto
  img
    border-radius: 50%
    padding: 16px
    transition: $transition

.name
  h4
    margin: 0
    text-transform: capitalize
    transition: $transition
  
.type
  padding: 0 0 16px
  text-transform: capitalize

.loading
  background: #f6f7f8

@media (min-width: 0px) and (max-width: $rw-mobile)
  .portcontent
    padding: 20px 16px 16px

  .name
    h4
      padding: 14px 0 0
      font-size: 1.2rem

  .userPhoto
    img
      width: 75px
      height: 75px


@media (min-width: $rw-mobile) and (max-width: $rw-tablet)
  .portcontent
    padding: 40px

  .name
    h4
      padding: 22px 0 0
      font-size: 1.5rem

  .userPhoto
    img
      width: 90px
      height: 90px


@media only screen and (min-width: $rw-tablet)
  .portcontent
    padding: 80px

  .name
    h4
      padding: 23px 0 0
      font-size: 1.5rem

  .userPhoto
    img
      width: 100px
      height: 100px