
<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start">

  <kgp-admin-bar fxFlex="6.5" fxFlex.sm="8" fxFlex.xs="100"></kgp-admin-bar>

  <div fxFlex="93.5" fxFlex.sm="92" fxFlex.xs="100" fxLayout="row" fxLayoutAlign="start">

    <form class="form" [formGroup]="AddProjectForm" novalidate (ngSubmit)="onSubmit()">

      <div class="kgpContainer contain">

        <div class="inforBox">

          <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap>
          
            <div fxFlex="42.5">
              <input class="inputItem" type="text" name="title" id="" formControlName="projectTitle" placeholder="Title">
            </div>

            <div fxFlex="42.5">
              <input class="inputItem" type="text" name="title" id="" formControlName="projectUrl" placeholder="Projects URL">
            </div>

            <div fxFlex="15">

              <button (click)="toggleView()"  class="btn secondary">
                <div class="btnicon">
                  <i class="material-icons" [fxHide]="htmlView" >code</i>
                  <i class="material-icons" [fxHide]="!htmlView">border_color</i>
                </div>
                <div [fxHide]="htmlView">View</div>
                <div [fxHide]="!htmlView">Edit</div>
              </button>
              
            </div>

          </div>

          <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap>

            <div fxFlex="100">

              <textarea 
                type="text" 
                name="markdown"
                [fxHide]="htmlView"
                class="markDownInput" 
                placeholder="Add Markdown Here"
                formControlName="projectMarkdown"
                (keyup)="textToMarkDown($event.target.value)"></textarea>

                <div 
                  [fxHide]="!htmlView" 
                  class="markdownOutput" 
                  [innerHTML]="markdown | urlsan"></div>

            </div>

          </div>

        </div>

      </div>
      
      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap class="imagebox" >

        <div class="imageSmail" fxFlex="45" fxFlex.xs="100">
          <div class="smailBtn" [ngStyle.xs]="{'width': '250px'}">
            <label for="smailImage">
              <img #smailImage id="thum" src="" alt="">
            </label>
            <input type="file" name="thumnail" id="smailImage" (change)="smailImg($event)">
          </div>
        </div>

        <div class="imageBig" fxFlex="45" fxFlex.xs="100">
          <div class="bigBtn" [ngStyle.xs]="{'width': '250px'}">
            <label for="bigImage">
              <img #bigImage id="bigthun" src="" alt="">
            </label>
            <input type="file" name="fullsize" id="bigImage" (change)="bigImg($event)">
          </div>
        </div>

      </div>


      <div class="centerBtn">

        <button type="submit" class="btn secondary padm">
          <div class="btnicon">
            <i class="material-icons">save</i>
          </div>
          <div>Submit</div>
        </button>

        <button type="button" class="btn primary" (click)="resetEmailForm()">
          <div class="btnicon">
            <i class="material-icons">cancel</i>
          </div>
          <div>Cancel</div>
        </button>

      </div>

    </form>

  </div>

</div>

<h1>{{ test }}</h1>

<kgp-upload-image-button type="smaill" path="testout" (downloadURLOut)="geturl($event)"></kgp-upload-image-button>