<kgp-hero 
    Primary 
    Center 
    title="Kerron Gordon"
    [ngStyle.sm]="{'height': '400px', 'font-size': '2rem'}"
    [ngStyle.gt-sm]="{'height': '600px', 'font-size': '3rem'}">
</kgp-hero>

<div Container class="landingline">

    <kgp-avatar 
        Center 
        img="assets/avatar.svg"
        [ngStyle.sm]="{'margin-top': '-100px'}"
        [ngStyle.gt-sm]="{'margin-top': '-125px'}">
    </kgp-avatar>

    <kgp-description 
        content="Kerron specializes in making exceptional websites. He enjoys tasks that would challenge his natural gifted abilities and
        eagerly persuades him to learn something new and different. he puts tremendous amount of effort and dedication into crafting 
        what is to be the next generation of websites.">
    </kgp-description>

    <kgp-social-icon 
        Center
        Facebook="https://www.facebook.com/kerron.gordon"
        Twitter="https://twitter.com/kerrongordon"
        Google="https://plus.google.com/+kerrongordon"
        Linkedin="https://www.linkedin.com/in/kerrongordon"
        Github="https://github.com/kerrongordon">
    </kgp-social-icon>


    <div 
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutWrap
        class="skillwrap">

        <kgp-skill-item 
            *ngFor="let skill of skills" 
            [content]="skill.title" 
            [level]="skill.level"
            fxFlex="45">
        </kgp-skill-item>

    </div>

</div>

<div Container class="landingline landingbg">

    <h2 Cinzel class="line">Portfolio</h2>
    <h2 Cinzel class="line">Get in touch</h2>
</div>

