<kgp-hero
    kgpPrimary
    kgpCenter
    title="Kerron Gordon"
    [ngStyle.sm]="{'height': '400px', 'font-size': '2rem'}"
    [ngStyle.gt-sm]="{'height': '600px', 'font-size': '3rem'}">
</kgp-hero>

<div Container class="landingline">

    <kgp-avatar
        kgpCenter
        img="assets/avatar.svg"
        [ngStyle.xs]="{'margin-top': '-75px', 'height': '150px', 'width': '150px'}"
        [ngStyle.sm]="{'margin-top': '-100px', 'height': '200px', 'width': '200px'}"
        [ngStyle.gt-sm]="{'margin-top': '-125px', 'height': '250px', 'width': '250px'}">
    </kgp-avatar>

    <kgp-description
        [ngStyle.xs]="{'max-width': '400px', 'display': 'block', 'margin': '0 auto'}"
        content="Kerron specializes in making exceptional websites. He enjoys tasks that would challenge his natural gifted abilities and
        eagerly persuades him to learn something new and different. he puts tremendous amount of effort and dedication into crafting
        what is to be the next generation of websites.">
    </kgp-description>

    <kgp-social-icon
        kgpCenter
        Facebook="https://www.facebook.com/kerron.gordon"
        Twitter="https://twitter.com/kerrongordon"
        Google="https://plus.google.com/+kerrongordon"
        Linkedin="https://www.linkedin.com/in/kerrongordon"
        Github="https://github.com/kerrongordon">
    </kgp-social-icon>


    <div
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutWrap
        [ngStyle.xs]="{'max-width': '350px'}"
        class="skillwrap">

        <kgp-skill-item
            *ngFor="let skill of skills"
            [content]="skill.title"
            [level]="skill.level"
            fxFlex="45">
        </kgp-skill-item>

    </div>

</div>

<div kgpContainer class="landingline landingbg">

    <h2 kgpCinzel class="line">Projects</h2>

    <div
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutAlign="space-between start"
        fxLayoutWrap
        [ngStyle.xs]="{'max-width': '350px', 'margin': '0 auto'}"
        [ngStyle.sm]="{'max-width': '550px', 'margin': '0 auto'}"
        [ngStyle.gt-sm]="{'max-width': '1100px', 'margin': '0 auto'}">

    <kgp-card [ngStyle.sm]="{'max-width': '46%'}" [ngStyle.gt-sm]="{'max-width': '22%'}" Link="dashboard">
        <kgp-card-image imge="https://images.unsplash.com/photo-1508233620467-f79f1e317a05?auto=format&fit=crop&w=668&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D"></kgp-card-image>
        <kgp-card-content ctitle="this is a card title sdlkm ksd kerron gordon jmgo" content="this is just some content for testing out the card component" month="Aug" day="11" year="2017"></kgp-card-content>
    </kgp-card>

    <kgp-card [ngStyle.sm]="{'max-width': '46%'}" [ngStyle.gt-sm]="{'max-width': '22%'}">
        <kgp-card-image imge="https://images.unsplash.com/photo-1507097489474-c9212a8f8597?auto=format&fit=crop&w=1502&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D"></kgp-card-image>
        <kgp-card-content ctitle="this is a card title" content="this is just some content for testing out the card component" month="Aug" day="11" year="2017"></kgp-card-content>
    </kgp-card>

    <kgp-card [ngStyle.sm]="{'max-width': '46%'}" [ngStyle.gt-sm]="{'max-width': '22%'}">
        <kgp-card-image imge="https://images.unsplash.com/photo-1504814532849-cff240bbc503?auto=format&fit=crop&w=668&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D"></kgp-card-image>
        <kgp-card-content ctitle="this is a card title" content="this is just some content for testing out the card component" month="Aug" day="11" year="2017"></kgp-card-content>
    </kgp-card>

    <kgp-card [ngStyle.sm]="{'max-width': '46%'}" [ngStyle.gt-sm]="{'max-width': '22%'}">
        <kgp-card-image imge="https://images.unsplash.com/photo-1499615767948-e6a89ef6060f?auto=format&fit=crop&w=750&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D"></kgp-card-image>
        <kgp-card-content ctitle="this is a card title" content="this is just some content for testing out the card component" month="Aug" day="11" year="2017"></kgp-card-content>
    </kgp-card>

    </div>


</div>


<div kgpContainer class="contact">

    <h2 kgpCinzel class="line">Get in touch</h2>

    <kgp-contact-form></kgp-contact-form>

</div>

<kgp-footer></kgp-footer>
