<kgp-header-bar></kgp-header-bar>

<kgp-hero
    kgpPrimary
    kgpCenter
    title="Kerron Gordon"
    [ngStyle.sm]="{'height': '400px', 'font-size': '2rem'}"
    [ngStyle.gt-sm]="{'height': '600px', 'font-size': '3rem'}">
</kgp-hero>

<div 
    kgpContainer 
    class="landingline">

    <kgp-avatar
        kgpCenter
        img="assets/avatar.svg"
        alt="Kerron Gordon"
        [ngStyle.xs]="{'margin-top': '-75px', 'height': '150px', 'width': '150px'}"
        [ngStyle.sm]="{'margin-top': '-100px', 'height': '200px', 'width': '200px'}"
        [ngStyle.gt-sm]="{'margin-top': '-125px', 'height': '250px', 'width': '250px'}">
    </kgp-avatar>

    <kgp-description
        [ngStyle.xs]="{'max-width': '400px', 'display': 'block', 'margin': '0 auto'}"
        [content]="des">
    </kgp-description>

    <kgp-social-icon
        kgpCenter
        Facebook="https://www.facebook.com/kerron.gordon"
        Twitter="https://twitter.com/kerrongordon"
        Google="https://plus.google.com/+kerrongordon"
        Linkedin="https://www.linkedin.com/in/kerrongordon"
        Github="https://github.com/kerrongordon">
    </kgp-social-icon>

    <div
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutWrap
        [ngStyle.xs]="{'max-width': '350px'}"
        class="skillwrap">

        <kgp-skill-item
            *ngFor="let skill of skillsInit "
            [content]="skill.title"
            [level]="skill.level"
            fxFlex="45">
        </kgp-skill-item>

    </div>

</div>

<div 
    kgpContainer 
    class="landingline landingbg">

    <h2 
        kgpCinzel 
        class="line">Projects
    </h2>

    <div
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutAlign="space-between start"
        fxLayoutWrap
        [ngStyle.xs]="{'max-width': '350px', 'margin': '0 auto'}"
        [ngStyle.sm]="{'max-width': '550px', 'margin': '0 auto'}"
        [ngStyle.gt-sm]="{'max-width': '1100px', 'margin': '0 auto'}">

    <kgp-card 
        [ngStyle.sm]="{'max-width': '46%'}" 
        [ngStyle.gt-sm]="{'max-width': '22%'}" 
        routerLink="/dashboard"
        *ngFor="let project of projectsInit ">

        <kgp-card-image
            [imge]="project.image.small.url"
            [base64]="project.image.small.base64"
            [alt]="project.title">
        </kgp-card-image>

        <kgp-card-content 
            [ctitle]="project.title" 
            [content]="project.content" 
            [month]="project.timestamp.month" 
            [day]="project.timestamp.date" 
            [year]="project.timestamp.year">
        </kgp-card-content>

    </kgp-card>

    </div>


</div>


<div 
    kgpContainer 
    class="contact">

    <h2 
        kgpCinzel 
        class="line">Get in touch
    </h2>

    <kgp-contact-form></kgp-contact-form>

</div>

<kgp-footer></kgp-footer>
