<div
  fxLayout="row"
  fxLayout.xs="column"
  fxLayoutAlign="start">

  <kgp-admin-bar fxFlex="6.5" fxFlex.sm="8" fxFlex.xs="100"></kgp-admin-bar>

  <div
    fxFlex="93.5" fxFlex.sm="92" fxFlex.xs="100"
    class="emailPage"
    fxLayout="row"
    fxLayoutAlign="start">

    <kgp-email-list
      fxFlex="25" fxFlex.sm="40" fxFlex.xs="100"
      [fxHide.xs]="toggleMobile" ngClass.xs="zoomIn"
      [totalMail]="totalMessage" [newMail]="newMessage" [readMail]="readMessage">
      <kgp-email-list-item
        *ngFor="let email of messages"
        id="{{ email.id }}"
        [data]="email"
        [ngClass]="{'isActive': activeItem === email.id, 'fadeInLeft': email.open === false }"
        (click)="openMessage( email.id )">
      </kgp-email-list-item>
    </kgp-email-list>


    <kgp-email-body
      fxFlex="75" fxFlex.sm="60" fxFlex.xs="100" [fxHide.xs]="!toggleMobile" ngClass.xs="zoomIn"
      [data]="openMassageItem" (delete)="deleteMessage($event)">
      <button type="button" class="btn primary closebtn" fxHide.gt-xs="true" (click)="closeOpenMail()">
        <svg viewBox="0 0 24 24">
          <path fill="currentColor" d="M12,2C17.53,2 22,6.47 22,12C22,17.53 17.53,22 12,22C6.47,22 2,17.53 2,12C2,6.47 6.47,2 12,2M15.59,7L12,10.59L8.41,7L7,8.41L10.59,12L7,15.59L8.41,17L12,13.41L15.59,17L17,15.59L13.41,12L17,8.41L15.59,7Z"/>
        </svg>
      </button>
    </kgp-email-body>

  </div>

</div>