<div 
  class="emailPage" 
  fxLayout="row" 
  fxLayoutAlign="start">

  <kgp-email-list fxFlex="25" fxFlex.sm="40" fxFlex.xs="100" [mailnum]="mailLength">
    <kgp-email-list-item 
      *ngFor="let email of mailList"
      id="{{ email.id }}" 
      [data]="email"
      [ngClass]="{'isActive': activeItem === email.id }"
      (click)="openEmail( email.id )">
    </kgp-email-list-item>
  </kgp-email-list>


  <kgp-email-body
    fxFlex="75" fxFlex.sm="60" fxFlex.xs="100"
    [data]="openMail">
    <button type="button">X</button>
  </kgp-email-body>

</div>


