<div class="container">
  <div class="menubar">
    <div class="menu">
      <ul>
        <li class="menu-item"><a [routerLink]="['/login']"><i class="material-icons icon">account_circle</i>Login</a></li>
        <li class="menu-item"><a [routerLink]="['/admin']"><i class="material-icons icon">settings</i>Admin</a></li>
        <li class="menu-item"><a [routerLink]="['']"><i class="material-icons icon">home</i>Home</a></li>
        <li class="menu-item"><a [routerLink]="['/portfolios']"><i class="material-icons icon">home</i>Portfolios</a></li>
        <li class="menu-item"><a [routerLink]="['addportfolio']"><i class="material-icons icon">home</i>Add Portfolio</a></li>
      </ul>
    </div>
  </div>
</div>


