@import '../../var.sass'

\:host
    display: block
    position: fixed
    top: 0
    left: 0
    right: 0
    width: 100%
    z-index: 9999
    background-color: rgba($primary, 0.95)

.headerBar
    max-width: 1100px
    padding: 10px 0
    margin: 0 auto
    color: #fdfdfd

.search
    width: 100%
    border: none
    background: transparent
    outline: none
    padding: 10px 0
    color: inherit
    box-shadow: 0 0 0 0 transparent

    &::placeholder
        color: #fdfdfd
        transition: color .5s ease-in-out

.searchBar
    background: rgba(#ffffff, 0.2)
    color: #fdfdfd
    border-radius: 3px
    transition: background .3s ease-in-out, box-shadow .4s ease-in-out

    &.isActive
        background: #ffffff
        color: #8c8c8c
        border-radius: 3px 3px 0 0
        box-shadow: 0 0 25px rgba(40, 47, 60, 0.05), 0 20px 25px rgba(40, 47, 60, 0.05), 0 3px 4px rgba(40, 47, 60, 0.14)

        .search
            &::placeholder
                color: #8c8c8c

svg
    display: block
    width: 20px
    height: 20px
    cursor: pointer
    color: inherit
    transform: scale(1)
    transition: color .3s ease-in-out, transform .3s ease-in-out
    margin: 10px auto 0

    &:hover
        transform: scale(1.2)
        color: #6b7c93

    &:active
        transform: scale(1)

.seaicon
    &:hover
        transform: scale(1)
        color: inherit

.searchBarCon
    position: relative

.searchOutPut
    background: #ffffff
    height: 200px // for testing
    width: 100%
    position: absolute
    border-radius: 0 0 3px 3px
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.21), 0 15px 12px rgba(0, 0, 0, 0)