<header 
  fxLayout="row" 
  class="headerBar">

  <div 
    fxFlex="5" 
    fxFlex.xs="35" 
    fxFlex.sm="10"
    routerLink="/">

      <i class="material-icons">home</i>

  </div>

  <div 
    fxFlex="85" 
    fxFlex.sm="70" 
    class="searchBarCon" 
    fxHide.xs>

    <div 
      fxLayout="row" 
      class="searchBar" 
      [ngClass]="{'isActive': toggleSearchClass}">

      <div 
        fxFlex="5" 
        fxFlex.sm="10">

        <i class="material-icons seaicon">search</i>

      </div>

      <div 
        fxFlex="95" 
        fxFlex.sm="90">

        <input 
          class="search" 
          id="search" 
          type="search" 
          placeholder="Search Projects" 
          (keyup)="search($event.target.value)" 
          (focus)="focusSearch()" 
          (blur)="blurSearch()">

      </div>

    </div>

    <div 
      class="searchOutPut" 
      fxLayout="row">
    
      <div 
        fxFlex="50" 
        *ngIf="searchTitle?.length > 0" 
        class="padbuttom">

        <h4 class="stitle">By Title</h4>

        <div 
          *ngFor="let title of searchTitle" 
          class="searchItem hideOText" 
          routerLink="/project/{{ title.id }}">{{ title.title }}</div>

      </div>

      <div 
        fxFlex="50" 
        *ngIf="searchContent?.length > 0" 
        class="padbuttom">

        <h4 class="stitle">By Contnet</h4>

        <div 
          *ngFor="let content of searchContent" 
          class="searchItem hideOText" 
          routerLink="/project/{{ content.id }}">{{ content.content }}</div>

      </div>

    </div>
  </div>

  <div 
    fxFlex="10" 
    fxFlex.xs="65" 
    fxFlex.sm="20" 
    fxLayout="row">

    <div fxFlex="50" routerLink="/projects">
      <i class="material-icons">library_books</i>
    </div>

    <div fxFlex="50" routerLink="/login">
      <i class="material-icons">account_circle</i>
    </div>

  </div>

</header>


