<kg-header-bar id="search" [ngClass]="toggleheaderbar">
  <kg-btn type="button" icon="arrow_back" class="icon-only flat" (click)="goBack()"></kg-btn>
  <div class="input-contain" [ngClass]="inputFoucs">
    <span class="material-icons icon">search</span>
    <input id="searchInput" class="input" type="search" name="search" placeholder="Seach Portfolios" (keyup)="searchPortfolios($event.target.value)" (focus)="seachFocus()" (blur)="seachBlur()">
  </div>
  <kg-btn type="button" icon="more_vert" class="icon-only flat" (btnClick)="toggleMenu()"></kg-btn>
</kg-header-bar>
<kg-menubar [ngClass]="toggleMenuClass" (loginBt)="toggleLoginDialog(); closeMenu()"></kg-menubar>
<div id="contentBody" class="contentBody" (click)="closeMenu()">
  <kg-ribban [ngClass]="inputFocusRibban" id="ribban">
    <kg-title>{{title}}</kg-title>
  </kg-ribban>
  <div class="page" [ngClass]="inputFocusPort">
    <div class="container">
      <ng-content></ng-content>
    </div>
  </div>
</div>


<form class="contain" [formGroup]="complexForm">
  <kg-dialog class="image" [isVisible]="toggleLogin" btn1text="Login" btn2text="Cancel" btn1icon="send" btn2icon="cancel" color="accent-one" (btn1action)="login(complexForm.value, complexForm.valid)" (btn2action)="toggleLogin = false">
    <!--<kg-card-image [image]="'assets/userbg.jpg'"></kg-card-image>-->
    <div class="skpopup">
      <div class="input-contain">
        <span class="material-icons icon">account_circle</span>
        <input class="input" type="email" name="title" [formControl]="complexForm.controls['email']" placeholder="example@email.com">
      </div>
      <div class="input-contain">
        <span class="material-icons icon">vpn_key</span>
        <input class="input" type="password" name="level" [formControl]="complexForm.controls['pass']" placeholder="Password">
      </div>
    </div>
  </kg-dialog>
</form>
