@import ../../../config/sass/var

.input-contain
  flex: 1
  padding: 5px
  background: rgba($card-bg, 0.4)
  box-shadow: none
  color: $card-bg
  transition: $transition

  input
    &::placeholder
      transition: $transition
      color: $card-bg

.inputFoucs
  background: $card-bg
  color: $font-cobg
  box-shadow: $card-shadow-hover

  input
    &::placeholder
      color: $font-cobg

.page
  transition: $transition

.hzero
  height: 0

kg-ribban
  transition: $transition

\:host.loading-head
  kg-header-bar,
  kg-ribban
    background-color: #f6f7f8

  .input-contain
    box-shadow: none
    pointer-events: none

.skpopup
  padding: 16px 16px 0 16px

  .input-contain
    color: $font-cobg

    .input
      border-bottom: solid 1px $font-cobg

      &::placeholder
        color: $font-cobg



@media (min-width: 0px) and (max-width: $rw-mobile)
  .page
    margin-top: -60px

  .hport
    margin: 100px auto 0

@media (min-width: $rw-mobile) and (max-width: $rw-tablet)
  .page
    margin-top: -100px

  .hport
    margin: 120px auto 0

@media only screen and (min-width: $rw-tablet)
  .page
    margin-top: -150px

  .hport
    margin: 125px auto 0