<kg-header-bar id="search" [ngClass]="toggleheaderbar">
  <kg-btn type="button" icon="arrow_back" class="icon-only flat" (click)="goBack()"></kg-btn>
  <div class="input-contain" [ngClass]="inputFoucs">
    <span class="material-icons icon">search</span>
    <input id="searchInput" class="input" type="search" name="search" placeholder="Seach Portfolios" (keyup)="searchPortfolios($event.target.value)" (focus)="seachFocus()" (blur)="seachBlur()">
  </div>
  <kg-btn type="button" icon="more_vert" class="icon-only flat" (btnClick)="toggleMenu()"></kg-btn>
</kg-header-bar>
<kg-menubar [ngClass]="toggleMenuClass"></kg-menubar>
<div id="contentBody" class="contentBody" (click)="closeMenu()">
  <kg-ribban [ngClass]="inputFocusRibban" id="ribban">
    <kg-title>{{title}}</kg-title>
  </kg-ribban>
  <div class="page" [ngClass]="inputFocusPort">
    <div class="container">
      <ng-content></ng-content>
    </div>
  </div>
</div>
