@import ../../../config/sass/var

\:host
  display: block
  position: fixed
  padding: 16px 0
  z-index: 9999
  top: 0
  width: 100%
  background-color: rgba($accent-one, 0.95)

.flex
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between