<div *ngIf="data; else loading">
  <ng-content></ng-content>

  <h4 class="subject">{{ data.subject }}</h4>

  <div class="senderinfor">
    <h5>Sender:
      <span>{{ data.email }}</span>
    </h5>
    <h5>Name:
      <span>{{ data.name }}</span>
    </h5>
    <h5>Time:
      <span>{{ data.timestamp.time.hours }}:{{ data.timestamp.time.seconds }} {{ data.timestamp.month }} {{ data.timestamp.date }}, {{ data.timestamp.year }}</span>
    </h5>
  </div>

  <div class="meassage">
    <div [innerHTML]="data.markdown"></div>
  </div>

  <div class="footer">
    <button type="button" class="btn danger" (click)="deleteItem( data.id )">
      <div class="btnicon">
        <i class="material-icons">delete</i>
      </div>
      <div>Delete</div>
    </button>
  </div>

</div>

<ng-template #loading>
  <div class="load">
    <i class="material-icons">message</i>
    <h3>No Messages Selected</h3>
  </div>
</ng-template>