<div *ngIf="data; else loading">
  <ng-content></ng-content>

  <h4 class="subject">{{ data.subject }}</h4>

  <div class="senderinfor">
    <h5>Sender:
      <span>{{ data.email }}</span>
    </h5>
    <h5>Name:
      <span>{{ data.name }}</span>
    </h5>
    <h5>Time:
      <span>{{ data.timestamp.time.hours }}:{{ data.timestamp.time.seconds }} {{ data.timestamp.month }} {{ data.timestamp.date }}, {{ data.timestamp.year }}</span>
    </h5>
  </div>

  <div class="meassage">
    {{ data.message }}
  </div>

</div>

<ng-template #loading>
  <div class="load">
    <svg class="openMail" viewBox="0 0 24 24">
      <path fill="currentColor" d="M20,8L12,13L4,8V6L12,11L20,6M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z"
      />
    </svg>
    <h3>No Messages Selected</h3>
  </div>
</ng-template>