\:host
    display: block
    position: relative
    padding: 20px
    background: #ffffff
    overflow-x: hidden
    overflow-y: scroll
    height: 100vh
    z-index: 3
    box-shadow: -20px 0px 20px 0px rgba(213, 213, 228, 0.341176), -1px 0px 0px 0px rgba(0, 0, 0, 0.0313725)

h4, h5
    margin: 0
    text-transform: capitalize


.senderinfor
    margin: 15px 0
    box-shadow: 0px 1px 0px 0px rgba(#cfcfcf, 0.3)
    padding: 15px

    span
        font-weight: 400


.meassage
    margin-bottom: 60px
    padding: 30px 50px

.load
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    background: #ffffff
    color: #cccccc
    flex-direction: column
    height: 100vh

    svg
        width: 200px