/* You can add global styles to this file, and also import other style files */

@import ../node_modules/normalize.css/normalize.css
@import ../node_modules/typeface-cinzel-decorative/index.css
@import ../node_modules/typeface-open-sans/index.css
@import ./app/var.sass

body
    font-family: 'Open Sans', sans-serif
    font-weight: 400
    font-size: 1rem
    line-height: 1.8em
    background-color: $background
    color: $fontPrimary
    position: relative


.line
    text-align: center
    font-size: 2rem
    margin-bottom: 70px
    margin-top: 60px
    position: relative

.line:before
    content: ''
    width: 30px
    height: 2px
    background: $primary
    position: absolute
    left: 50%
    margin-left: -15px
    bottom: -20px

.landingline
    border-bottom: 1px solid #cacaca

.landingbg
    background: $background2

    &:after
        content: ''
        position: relative
        display: block
        padding-bottom: 130px

img
    width: 100%
    vertical-align: bottom

.btn
    border: transparent
    padding: 6px 20px
    color: #fff
    cursor: pointer
    background: #ccc
    border-radius: 5px
    font-size: 14px
    flex-direction: row
    box-sizing: border-box
    display: flex
    max-height: 100%
    place-content: center space-between
    align-items: center
    transform: translateY(0px)
    transition: box-shadow .3s ease-in-out, transform .3s ease-in-out
    box-shadow: 0 0 25px rgba(40,47,60,.05), 0 20px 25px rgba(40,47,60,.05), 0 3px 4px rgba(40,47,60,.05)

    &.primary
        background: $primary
        box-shadow: 0 2px 4px rgba($primary, 0.3), 0 7px 14px rgba($primary, 0.4)

        &:hover
            transform: translateY(-3px)
            box-shadow: 0 15px 35px rgba($primary,.3), 0 5px 15px rgba($primary,.4)

    &.secondary
        background: $secondary
        box-shadow: 0 2px 4px rgba($secondary, 0.3), 0 7px 14px rgba($secondary, 0.4)

        &:hover
            transform: translateY(-3px)
            box-shadow: 0 15px 35px rgba($secondary,.3), 0 5px 15px rgba($secondary,.4)

    &.danger
        background: $danger
        box-shadow: 0 2px 4px rgba($danger, 0.3), 0 7px 14px rgba($danger, 0.4)

        &:hover
            transform: translateY(-3px)
            box-shadow: 0 15px 35px rgba($danger,.3), 0 5px 15px rgba($danger,.4)

    .btnicon
        margin-top: 4px
        padding-right: 6px


.notification
    width: auto
    height: auto
    position: fixed
    z-index: 99999
    bottom: 0
    transition: all .3s ease-in-out

    .notifitem
        background: rgba(255, 255, 255, 0.95)
        padding: 16px
        margin: 15px
        display: flex
        max-width: 500px
        color: $fontPrimary
        border-radius: 5px
        justify-content: space-between
        align-items: center
        border: 1px solid #c1c1c1
        box-shadow: rgba(33, 37, 41, 0.21) 0px 20px 45px 18px
        animation: openNotification 0.7s ease-in-out

    svg
        width: 45px
        padding: 8px 8px 0 0px
        fill: $fontPrimary

    .content
        flex: 1
        border-left: 1px solid #ccc
        padding-left: 10px

    .title
        font-size: 16px
        font-weight: 700
        text-transform: capitalize

    .message
        flex: 1
        font-size: 0.8rem

    .icon
        padding-right: 12px


    @keyframes openNotification
        0%
            margin-left: -300px
            opacity: 0
        100%
            margin-left: 15px
            opacity: 1


.zoomIn
    animation-duration: .3s
    animation-fill-mode: both
    animation-name: zoomIn

@keyframes zoomIn
  from
    opacity: 0
    transform: scale3d(0.3, 0.3, 0.3)

  50%
    opacity: 1


.fadeInLeft

    &:first-child
        animation-duration: .3s
        animation-fill-mode: both
        animation-name: fadeInLeft

@keyframes fadeInLeft
  from
    opacity: 0
    transform: translate3d(-100%, 0, 0)

  to
    opacity: 1
    transform: none


.tada
  animation-duration: 1s
  animation-fill-mode: both
  animation-name: tada


@keyframes tada
  from
    transform: scale3d(1, 1, 1)

  10%, 20%
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg)

  30%, 50%, 70%, 90%
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg)

  40%, 60%, 80%
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg)

  to
    transform: scale3d(1, 1, 1)


@keyframes placeHolderShimmer
    0%
        background-position: -468px 0
    
    100%
        background-position: 468px 0

.facebookloading 
    animation-duration: 1s
    animation-fill-mode: forwards
    animation-iteration-count: infinite
    animation-name: placeHolderShimmer
    animation-timing-function: linear
    background: #f6f7f8
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%)
    background-size: 1000px 104px
    height: 16px
    margin: 7px 0
    position: relative

    &.w40
        width: 40%

    &.w90
        width: 90%
        margin: 7px auto

    &.w95
        width: 95%
        margin: 7px auto

    &.w75
        width: 75%

    &.w70
        width: 70%


.hideOText
    flex: 1
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis