<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap>

  <div fxFlex="15">
    <div class="sideBar">
      <div class="sbiner">

        <div class="item">
          <div class="icon">icon</div>
          <div class="conter">5</div>
          <h5 class="title"><a [routerLink]="['/admin/']">Dashboard</a></h5>
        </div>

        <div class="item">
          <div class="icon">icon</div>
          <div class="conter">5</div>
          <h5 class="title"><a [routerLink]="[{ outlets: { admin: ['message'] } }]">Messages</a></h5>
        </div>

        <div class="item">
          <div class="icon">icon</div>
          <div class="conter">5</div>
          <h5 class="title"><a [routerLink]="[{ outlets: { admin: ['addproject'] } }]">Add Project</a></h5>
        </div>

      </div>
    </div>
  </div>

  <div fxFlex="85">
    <router-outlet name="admin"></router-outlet>
  </div>

</div>

<kgp-footer></kgp-footer>